:root{
    --medium-blue: #072ac8;
    --aquamarine: #a4f4c0;
    --palm: #091e05;
    --sun: #f9a620;
    --alt-sun: #f9d800;
    --scarlet: #f42c04;
	--default-light: #f8fcfb;
	--default-dark: #070707;
    --underline-color: var(--medium-blue);
	--profile-icon-size: 2rem;
}

/* fonts */
@font-face {
    font-family: metropolis;
    src: url(../fonts/metropolis-semibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: metropolis;
    src: url(../fonts/metropolis-SemiBoldItalic.woff2) format('woff2');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: metropolis;
    src: url(../fonts/metropolis-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: metropolis;
    src: url(../fonts/metropolis-regularItalic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: metropolis;
    src: url(../fonts/metropolis-light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: metropolis;
    src: url(../fonts/metropolis-lightItalic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

.bgcolor1 { background-color: var(--default-light); transition: all 0.4s;}
.bgcolor2 { background-color: var(--default-dark); transition: all 0.4s;}
.bgcolor3 { background-color: var(--medium-blue); transition: all 0.4s;}

.hidden{
	visibility: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

html{
	font-size: 12px; /* sets default size for the page - this will be 1rem */
	background-color: var(--default-light); /* background color for entire page */
	color: var(--default-dark); /* default text color for the entire page */
	font-family: metropolis;
    transition: all 0.4s;
}
body{
	padding: 2.5rem 2rem;
}
main{
    padding: 0 2.5rem;
}
section{
    height: 100vh;
    position: relative;
}
#section3{
	height: 125vh; /* because the content is tall, this needs to be taller so that the section opacity changing works for the section after it */
}
#section4{
	height: 110vh;
}
a{ /* default stying for links all links */
    text-decoration: none;
    color: var(--default-dark);
    position: relative;
    font-size: 2rem;
}
a::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px; /* Adjust for spacing */
	width: 0;
	height: 3px;
	transition: width 0.2s ease-in-out;
}
a:hover::after{
	width: 100%;
    background-color: var(--underline-color);
}
a:hover{
	transition: all 0.2s ease-in-out;
    color: var(--medium-blue);
}
a.no-underline::after{
	content: none;
}
nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.logo:hover::after{ 
    width: 0%; /* remove the default link underline */
    background-color: none;
}
nav img{
	height: 3rem;
	width: auto;
}
nav div{
	display: flex;
	flex-direction: row;
	align-items: center;
}
nav div a{
	color: var(--default-light);
	margin: 0 3rem 0 0;
	padding: 0 0 0.25rem 0;
	border-radius: 75px;
	font-weight: 400;
	font-size: 1.75rem;
}
nav div a:hover{
	color: var(--aquamarine);
}
nav div a:hover::after{
	background-color: var(--aquamarine)
}
.profile-icon{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: var(--profile-icon-size);/* height and width being the same makes it a circle */
	width: var(--profile-icon-size);
	background-color: var(--scarlet);
	color: var(--default-light);
	padding: 1rem;
	border-radius: 75px;
}
.profile-icon span{
	position: absolute; /* this allows the span to "float" in the center of the circle */
	font-size: 1.25rem;
}
.homepage-link{ /* styling to be shared by all links in the homepage stack */
    display: flex;
	flex-direction: row;
	align-items: center;
	max-width: fit-content;
}
.homepage-link span:last-of-type{
    padding: 0 0 0 0.25rem; /* the gap between text and arrow icon */
}
h2{
	font-size: 5rem;
	font-weight: 400;
	line-height: 6rem;
    max-width: 80vw;
}
/* use the following for h2s with word replacement */
/* this should be flex so that the spans wrap before the words in each span when the page is resized */
/* #section1 h2{
	display: inline-flex;
	flex-flow: row wrap;
} */
#section2 h2{
	max-width: 60%;
}
#section2 p{
	color: var(--aquamarine);
}
#section3-content p{
    color: var(--aquamarine);
}
#slot{
	position: relative;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	width: 500px;
	height: 6rem;
}
.static{
	display: inline-flex;
	align-items: center;
	margin: 0 1.5rem 0 0;
}
.input {
	color: var(--default-dark);
	font-style: italic;
	position: absolute;
	white-space: nowrap;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 1s ease-in-out, opacity 0.4s ease-in-out;
	height: fit-content;
}
.section-content {
    opacity: 0; /* invisible by default*/
    position: absolute; /* positioned relative to it's parent section element */
    top: 35vh; /* distance from top of parent section to top of section-content */
    transform: translateY(35px); /* begin slightly out of place*/
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.section-content p{
	font-size: 1.75rem;
	line-height: 2rem;
	max-width: 50%;
}
.section-content .divider{
	height: 1.25rem;
	width: auto;
}
.section-content .quotes{
    height: 3rem;
    width: auto;
}
.section-content.visible { /* the visible class is added when the section content is in the viewport */
    opacity: 1; /* become visble */
    transform: translateY(0); /* move to actual position  */
}
.callout{
	background-color: var(--palm);
	color: var(--aquamarine);
	padding: 0.25rem 0.75rem 0 0.75rem;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 0.75rem;
}
#section3-content{
	width: 100%;
}
#section1 {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}
#section1-content{
	max-width: 100%;
	top: 2.5rem;
	align-items: center;
	justify-content: center;
}
#video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures it spans the container */
}
video{
	max-height: 80vh;
	object-fit: contain;
	border-radius: 1.5rem;
}
.card-deck{
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	width: 100%;
}
.card{
	flex: 1;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5rem;
	box-sizing: border-box;
	padding: 1.5rem;
	border-radius: 1.5rem;
	background-color: var(--aquamarine);
	color: var(--default-dark)
}
.card div{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.card h3{
	font-size: 2.5rem;
}
.card .divider{
	height: 1rem;
	width: auto;
}
.card p{
	max-width: 80%;
}
.card a{
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: fit-content;
	font-size: 1.75rem;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--default-dark);
	color: var(--default-light);
	padding: 2.5rem 2.5rem 3rem 2.5rem;
	border-radius: 1rem;
}
footer p{
	font-size: 1.25rem;
}
#footer-right, #footer-left{
	display: flex;
	flex-direction: row;
	gap: 4rem;
}
footer .logo img{
	height: 2rem;
	width: auto;
}
.footer-column{
	display: flex;
	flex-direction: column;
	width: fit-content;
}
.footer-column:first-of-type{
	justify-content: space-between;
}
#footer-link-stack{
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
#footer-link-stack a{
	color: var(--default-light);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	font-size: 1.5rem;
}
#footer-link-stack a:hover{
	color: var(--aquamarine);
}
.profile-card{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}
.profile-card .profile-icon{
	height: 1.5rem;
	width: 1.5rem;
}
.full-name, .user-name{
	font-size: 1.25rem;
}
.user-name{
	margin: 0.25rem 0 0 0;
	opacity: 0.7;
}
.profile-card .material-symbols-outlined{ 
	opacity: 0.7;
}